body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: wheat;
}

.slider-container{
    width: 500px;
    height: 300px;
    position: relative;
    /* //overflow-hidden was used to hide other images in page */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0  4px 8px rgba(0,0,0, 0.3);

}
.image-container{
    display: flex;
 transition: transform 0.4s;

}
.btn{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 25px;
    /* transform translate used to bring icon in middle in y axises */
    opacity: 0.5;
    cursor: pointer;

}
.btn.prev{
    left: 10px;
}
.btn.nxt{
    right: 10px;
}
.btn:hover{
    opacity: 1;
}





